.classpath
.gradle
.project
.settings
bin/*
gradle/*
gradlew
gradlew.bat
settings.gradle
.DS_Store
resources/.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/moodprove/.DS_Store
src/main/java/moodprove/google/google_oauth_client_secret.json
google_calendar_oauth_link.txt
src/main/java/moodprove/facebook/OAuthFacebookClientInfo.java
